.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;

  .container-notes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    &.dragged {
      background-color: rgba(56, 29, 89, 0.258);
    }

    .hidden {
      animation: hide 0.01s forwards;
    }
  }
}

@keyframes hide {
  from {
    visibility: visible;
  }

  to {
    visibility: hidden;
  }
}
